* {
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	color: #444;
}

header {

	margin: 3em 0;
	text-align: center;

	.logo {
		display: inline-block;
		width: 205px;
		height: 228px;
		text-indent: -9999px;
		background-image: url('../images/logo.png');
		background-size: 100%;
		background-repeat: no-repeat;
	}

}

.game-list {

	.game {

		display: block;
		position: relative;
		margin: 1em auto;
		overflow: hidden;
		max-width: 800px;
		height: 200px;

		img {
			display: block;
			height: 100%;
		}

		&::after {
			content: attr(title);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 1em;
			font-size: 1.2em;
			line-height: 1em;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.5);
		}

	}

}

.mailing-list-signup {

	margin: 5em 0;

	text-align: center;

	p {
		margin: 1em;
		font-size: 1.3em;
		line-height: 1.3em;
	}

	form {

		input,
		button {
			margin: .5em 0;
			padding: .5em;
			font-family: inherit;
			font-size: 1em;
			line-height: 1em;
		}

		button {
			padding: .5em 2em;
			font-weight: bold;
			color: #fff;
			border-radius: .25em;
			border: 0;
			background-color: #AAAAAA;
			cursor: pointer;
			&:hover {
				background-color: #777777;
			}
		}

	}

}

footer {

	margin: 3em 1em;
	text-align: center;

	p {
		font-style: italic;
		span {
			white-space: nowrap;
		}
	}

}
