<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>

<body>

<header>

    <a href="{{ site.baseurl }}" class="logo">Forge Ahead Studios</a>

</header>

<div class="wrapper">

    {{ content }}

</div>

<div class="mailing-list-signup">

	<p>Sign up for our mailing list for news and announcements:</p>

	<form action="http://collidingforcesgame.us5.list-manage.com/subscribe/post?u=b87a25cc3c2bc248d99e78e8b&amp;id=8f1d63b2c4" method="post" target="_blank">

		<input type="email" value="" name="EMAIL" class="email" placeholder="email address" size="30">

		<button>Subscribe</button>

	</form>

</div>

<footer>

    <p><span>&copy; 2015 Forge Ahead Studios,</span> <span>All Rights Reserved</span></p>

</footer>

</body>
</html>
